.menu-burger {
  width: 30px;
  height: 21px;
  cursor: pointer;
  //   background-color: pink;
  position: relative;

  span {
    width: calc(100% - 5px);
    height: 3.5px;
    background-color: white;
    border-radius: 9px;
    position: absolute;
    left: 2.5px;

    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
    }
  }

  @media (min-width: 1222px) {
    display: none;
  }
}
